body{
    margin: 20px;
    background-color: aquamarine;
}
#wrapper > div{
    background-color: blanchedalmond;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
#header{
    grid-area: header;
    background-color: blueviolet;
}
#nav{
    grid-area: nav;
}
#content{
    grid-area: content;
    height: 30vh;
}
#aside{
    grid-area: aside;
}
#sidebar{
    grid-area: sidebar;
}
#footer{
    grid-area: footer;
}
#wrapper{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-areas: 
        "header header header header"
        "nav content aside sidebar"
        "footer footer footer footer";
}

}
@media all and (max-width: 1200px){
    body {
        background-color: blueviolet;
    }
}
@media all and (max-width: 800px){
    body {
        background-color:royalblue ;
    }
}
@media all and (max-width: 500px){
    body {
        color: whitesmoke;
        background-color: black;
    }
}